In [ ]:
import requests as rq
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np                                        
import matplotlib.pyplot as plt

In [ ]:
headers = ({'User-Agent' : 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:102.0) Gecko/20100101 Firefox/102.0'})
url = 'https://df.olx.com.br/imoveis/aluguel'
response = rq.get(url,  headers=headers)
content = response.content

site = bs(content, 'html.parser')

In [ ]:
l = site.find('div', class_='sc-EHOje gpDieb')

paginas = []


for item in l.find_all('a'):
  paginas.append(item['href'])
paginas

['https://df.olx.com.br/imoveis/aluguel?o=2',
 'https://df.olx.com.br/imoveis/aluguel?o=3',
 'https://df.olx.com.br/imoveis/aluguel?o=4',
 'https://df.olx.com.br/imoveis/aluguel?o=5',
 'https://df.olx.com.br/imoveis/aluguel?o=6',
 'https://df.olx.com.br/imoveis/aluguel?o=7',
 'https://df.olx.com.br/imoveis/aluguel?o=8',
 'https://df.olx.com.br/imoveis/aluguel?o=9',
 'https://df.olx.com.br/imoveis/aluguel?o=10',
 'https://df.olx.com.br/imoveis/aluguel?o=2']

In [ ]:
titulos = []
links = []
valores = []


itens = site.find('ul', id='ad-list')
for pagina in paginas:
  for item in itens.find_all('a'):
    links.append(item['href'])
  else:
    links.append('')

In [ ]:
itens = site.find('ul', id='ad-list')
for pagina in paginas:
  for item in itens.find_all('a'):
    titulos.append(item['title'])
  else:
    titulos.append('')

In [ ]:
valores = []


itens = site.find('ul', id='ad-list')
for pagina in paginas:
  for item in itens.find_all('div', class_='sc-1kn4z61-1 dGMPPn'):
    valores.append(item.text)
  else:
    valores.append('')

In [ ]:
localizacao = []


itens = site.find('ul', id='ad-list')
for pagina in paginas:

  for item in itens.find_all('span', class_='sc-1c3ysll-1 cLQXSQ sc-ifAKCX fCbscF'):
    localizacao.append(item['title'])
  else:
    localizacao.append('')

In [ ]:
data = []

itens = site.find('ul', id='ad-list')
for pagina in paginas:


  
    for item in itens.find_all('span', class_='sc-11h4wdr-0 javKJU sc-ifAKCX fCbscF'):
      data.append(item['aria-label'])
    else:
      data.append('')

In [ ]:
cond = []
quartos = []
metros = []

itens = site.find('ul', id='ad-list')
for pagina in paginas:
  for item in itens.find_all('span', class_='sc-1ftm7qz-0 doofcG sc-ifAKCX fCbscF'):
      if 'Condomínio' in str(item.text):
        cond.append(item.text)  
      elif '' in str(item.text):
        cond.append('')

In [ ]:
cond = []
itens = site.find('ul', id='ad-list')
for pagina in paginas:
  for item in itens.find_all('span', class_='sc-1ftm7qz-0 doofcG sc-ifAKCX fCbscF'):
      if 'Condomínio' in str(item.text):
        cond.append(item.text)
      else:
        cond.append('')

In [ ]:
quartos = []
itens = site.find('ul', id='ad-list')
for pagina in paginas:
  for item in itens.find_all('span', class_='sc-1ftm7qz-0 doofcG sc-ifAKCX fCbscF'):
      if 'quartos' in str(item.text):
        quartos.append(item.text)  
      elif '' in str(item.text):
        quartos.append('')

In [ ]:
metros = []
itens = site.find('ul', id='ad-list')
for pagina in paginas:
  for item in itens.find_all('span', class_='sc-1ftm7qz-0 doofcG sc-ifAKCX fCbscF'):
      if 'm²' in str(item.text):
        metros.append(item.text)
        
      else:
        metros.append('')

In [ ]:
metros = []
quartos = []
cond = []

itens = site.find('ul', id='ad-list')
for pagina in paginas:
  for item in itens.find_all('span', class_='sc-1ftm7qz-0 doofcG sc-ifAKCX fCbscF'):
      if 'm²' in str(item.text):
        metros.append(item.text)
      elif 'quartos' in str(item.text):
        quartos.append(item.text)
      elif 'Condomínio' in str(item.text):
        cond.append(item.text)

In [ ]:
len(valores)

510

In [ ]:
df = pd.DataFrame(list(zip(titulos, links, valores, localizacao, data, metros, quartos, cond,)),
                  columns=['titulo', 'link', 'aluguel', 'localização', 'data de postagem', 'metragem', 'quartos', 'condominio' ])

In [ ]:
df

,titulo,link,aluguel,localização,data de postagem,metragem,quartos,condominio
0,Casa com 2 quartos e 2 banheiros,https://df.olx.com.br/distrito-federal-e-regia...,R$ 600,"Brasília, Setor Habitacional Vicente Pires - D...","Anúncio publicado em: Hoje, 10:50.",73m²,2 quartos,Condomínio: R$ 0
1,"Alugo KIT em Taguatinga Sul, Excelente localiz...",https://df.olx.com.br/distrito-federal-e-regia...,R$ 650,"Brasília, Taguatinga Sul (Taguatinga) - DDD 61","Anúncio publicado em: Hoje, 10:47.",30m²,2 quartos,Condomínio: R$ 450
2,ALUGUEL APART. 02 QTS.,https://df.olx.com.br/distrito-federal-e-regia...,R$ 990,"Brasília, Taguatinga Centro (Taguatinga) - DDD 61","Anúncio publicado em: Hoje, 10:44.",50m²,3 quartos,Condomínio: R$ 0
3,Kitnet,https://df.olx.com.br/distrito-federal-e-regia...,R$ 700,"Brasília, Taguatinga Sul (Taguatinga) - DDD 61","Anúncio publicado em: Hoje, 10:43.",140m²,2 quartos,Condomínio: R$ 3
4,Alugo casa de 3 quartos 2 banheiros no pnort ...,https://df.olx.com.br/distrito-federal-e-regia...,R$ 1.500,"Brasília, Ceilândia Norte (Ceilândia) - DDD 61","Anúncio publicado em: Hoje, 10:39.",50m²,3 quartos,Condomínio: R$ 400
...,...,...,...,...,...,...,...,...
335,Alugo apto 1 quarto 200mts do Metrô EQNN 23/25...,https://df.olx.com.br/distrito-federal-e-regia...,R$ 900,"Brasília, Ceilândia Norte (Ceilândia) - DDD 61","Anúncio publicado em: Hoje, 09:37.",53m²,3 quartos,Condomínio: R$ 1.100
336,"SQS 315 Bloco E, Asa Sul - Brasília/DF",https://df.olx.com.br/distrito-federal-e-regia...,R$ 4.100,"Brasília, Asa Sul - DDD 61","Anúncio publicado em: Hoje, 09:36.",55m²,2 quartos,Condomínio: R$ 263
337,Alugo lindo apartamento de um quarto no Imperi...,https://df.olx.com.br/distrito-federal-e-regia...,R$ 850,"Brasília, Condomínio Império dos Nobres (Sobra...","Anúncio publicado em: Hoje, 09:31.",74m²,3 quartos,Condomínio: R$ 0
338,Aluga-se apartamento sudoeste 126m2,https://df.olx.com.br/distrito-federal-e-regia...,R$ 5.850,"Brasília, Setor Sudoeste - DDD 61","Anúncio publicado em: Hoje, 09:31.",60m²,2 quartos,Condomínio: R$ 0
339,Apartamento QNM 12- com 2 quartos em Ceilândia...,https://df.olx.com.br/distrito-federal-e-regia...,R$ 1.200,"Brasília, Ceilândia Norte (Ceilândia) - DDD 61","Anúncio publicado em: Hoje, 09:29.",90m²,2 quartos,Condomínio: R$ 385

In [ ]:
df['aluguel'] = df['aluguel'].str.replace(r'\D', '')
df['condominio'] = df['condominio'].str.replace(r'\D', '')
df['metragem'] = df['metragem'].str.replace(r'\D', '')
df['quartos'] = df['quartos'].str.replace(r'\D', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

In [ ]:
df['localização'] = df['localização'].str.replace(r'\D', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [ ]:
df['condominio'] = pd.to_numeric(df['condominio'])
df['metragem'] = pd.to_numeric(df['metragem'])
df['aluguel'] = pd.to_numeric(df['aluguel'])
df['quartos'] = pd.to_numeric(df['quartos'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titulo            340 non-null    object
 1   link              340 non-null    object
 2   aluguel           334 non-null    float64
 3   localização       340 non-null    object
 4   data de postagem  340 non-null    object
 5   metragem          340 non-null    int64
 6   quartos           340 non-null    int64
 7   condominio        340 non-null    int64
dtypes: float64(1), int64(3), object(4)
memory usage: 21.4+ KB

In [ ]:
df.isnull().sum()

titulo              0
link                0
aluguel             6
localização         0
data de postagem    0
metragem            0
quartos             0
condominio          0
dtype: int64

In [ ]:
df['valor total'] = df['aluguel'] + df['condominio']

In [ ]:
df.head(100)

In [ ]:
group1 = df[['localização', 'valor total']]

In [ ]:
group1

                                           localização  valor total
0    Brasília, Setor Habitacional Vicente Pires - D...        600.0
1       Brasília, Taguatinga Sul (Taguatinga) - DDD 61       1100.0
2    Brasília, Taguatinga Centro (Taguatinga) - DDD 61        990.0
3       Brasília, Taguatinga Sul (Taguatinga) - DDD 61        703.0
4       Brasília, Ceilândia Norte (Ceilândia) - DDD 61       1900.0
..                                                 ...          ...
335     Brasília, Ceilândia Norte (Ceilândia) - DDD 61       2000.0
336                         Brasília, Asa Sul - DDD 61       4363.0
337  Brasília, Condomínio Império dos Nobres (Sobra...        850.0
338                  Brasília, Setor Sudoeste - DDD 61       5850.0
339     Brasília, Ceilândia Norte (Ceilândia) - DDD 61       1585.0

[340 rows x 2 columns]

In [ ]:
group.max()

localização    Águas Lindas de Goiás, Parque da Barragem Seto...
valor total                                            1001400.0
dtype: object

In [ ]:
gr = group.groupby('localização').median()

In [ ]:
group1.groupby('localização').describe()

In [ ]:
df.drop_duplicates()

,titulo,link,aluguel,localização,data de postagem,metragem,quartos,condominio,valor total
0,Casa com 2 quartos e 2 banheiros,https://df.olx.com.br/distrito-federal-e-regia...,600.0,"Brasília, Setor Habitacional Vicente Pires - D...","Anúncio publicado em: Hoje, 10:50.",73,2,0,600.0
1,"Alugo KIT em Taguatinga Sul, Excelente localiz...",https://df.olx.com.br/distrito-federal-e-regia...,650.0,"Brasília, Taguatinga Sul (Taguatinga) - DDD 61","Anúncio publicado em: Hoje, 10:47.",30,2,450,1100.0
2,ALUGUEL APART. 02 QTS.,https://df.olx.com.br/distrito-federal-e-regia...,990.0,"Brasília, Taguatinga Centro (Taguatinga) - DDD 61","Anúncio publicado em: Hoje, 10:44.",50,3,0,990.0
3,Kitnet,https://df.olx.com.br/distrito-federal-e-regia...,700.0,"Brasília, Taguatinga Sul (Taguatinga) - DDD 61","Anúncio publicado em: Hoje, 10:43.",140,2,3,703.0
4,Alugo casa de 3 quartos 2 banheiros no pnort ...,https://df.olx.com.br/distrito-federal-e-regia...,1500.0,"Brasília, Ceilândia Norte (Ceilândia) - DDD 61","Anúncio publicado em: Hoje, 10:39.",50,3,400,1900.0
...,...,...,...,...,...,...,...,...,...
334,Ap. 2 quartos c/ garagem Vicente Pires Rua 4c ...,https://df.olx.com.br/distrito-federal-e-regia...,800.0,"Brasília, Setor Habitacional Vicente Pires - T...","Anúncio publicado em: Hoje, 09:42.",54,2,0,800.0
335,Alugo apto 1 quarto 200mts do Metrô EQNN 23/25...,https://df.olx.com.br/distrito-federal-e-regia...,900.0,"Brasília, Ceilândia Norte (Ceilândia) - DDD 61","Anúncio publicado em: Hoje, 09:37.",53,3,1100,2000.0
336,"SQS 315 Bloco E, Asa Sul - Brasília/DF",https://df.olx.com.br/distrito-federal-e-regia...,4100.0,"Brasília, Asa Sul - DDD 61","Anúncio publicado em: Hoje, 09:36.",55,2,263,4363.0
337,Alugo lindo apartamento de um quarto no Imperi...,https://df.olx.com.br/distrito-federal-e-regia...,850.0,"Brasília, Condomínio Império dos Nobres (Sobra...","Anúncio publicado em: Hoje, 09:31.",74,3,0,850.0
339,Apartamento QNM 12- com 2 quartos em Ceilândia...,https://df.olx.com.br/distrito-federal-e-regia...,1200.0,"Brasília, Ceilândia Norte (Ceilândia) - DDD 61","Anúncio publicado em: Hoje, 09:29.",90,2,385,1585.0